.cards{
    max-height: 100vh;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.main{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.asidePosition{
    height: 100vh;
    width: 200px;
    position: relative;
    
}

.logic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    
}

.menu{
    width: 200px;
    background-color: rgba(15, 15,15,1);
    top: 0px;
    height: 100vh;
    position: fixed;
    z-index:5;
}

.position{
    padding-top: 100px;
    position: relative;
    z-index: 30;
    background:linear-gradient(90deg,rgb(54, 51, 53), rgb(207, 219, 229));
    height: 100%;
    background-size: 500%;
    border-right: 1px solid rgba(0, 130, 170, 1);
   
}

.sort{
    background-color: transparent;
    color: white;
    cursor: pointer;
    height: 30px;
    border: none;
}
.sort:hover{
    background-color: rgba(0, 130, 170, 1);
}