.card{
    width: 250px;
    background-color: rgba(216, 24, 24, 0.863);
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    box-shadow: 7px 7px 7px black;
    border-top-color: black;
    
   
    
}
.imgContainer{
  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   margin: 0;
   padding: 0;
   border: 0;
   height: 240px;
   border: 10px solid rgba(216, 24, 24, 0.863);
   border-top: 15px solid black;
   border-bottom: none;
  
   
   
}
.img{
   
    height: 100%;
    width: 100%;
    background-color: rgba(254, 255, 254, 0.493);
  
}

.data{
    display: grid;
    padding: 15px;
    border: 10px solid black;
    border-top-color:rgba(216, 24, 24, 0.863);
    border-bottom-color:rgba(216, 24, 24, 0.863);
    gap: 10px;
    font-size: 22px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(233, 206, 206, 0.863);
    padding: 20px 10px;
    color: black;
}
