.container{
    background-color:rgb(23, 184, 248);
    display: grid;
    grid-template-columns: 1fr 9fr;
    width: 100%;
    border-radius: 5px;
}

*{
    font-family: 'Sarabun';
}

.statsContainer{
    display: flex;
    max-width: 100%;
    grid-column: span 10;
    justify-content: space-between; 
    justify-content: left;
    border-bottom: 5px solid black;
}

.stats{
    text-align: center;
    padding: 8px;
    font-size: 25px;
    flex-basis: 10%;   
}

.stats p{
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
}

.buttonContainer{
    padding: 20px;
    grid-column: span 10;
    display: flex;
    justify-content: space-between;  
    position: relative; 
}

.favorites{
    padding: 8px;
    font-size: 18px;
    border: 6px solid black;   
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 3px 9px 12px rgba(0,0,0, 0.8);
    transition: 0.14s;
}

.favorites:hover{
    transform: scale(1.2);
    background-color:  rgba(0, 140, 255, 1);
    color: white;
    box-shadow: 7px 14px 17px rgba(0,0,0, 0.8); 
}

.image{
    object-fit: cover;
    max-width: 100%;
    }

.imageContainer{
    display: grid;
    justify-content: center;
    background-image: url("../images/background/grass-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    border: 5px solid black;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
}

.imageContainerWater{
    display: grid;
    justify-content: center;
    background-image: url("../images/background/water.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    border: 5px solid black;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 5px;
    position: relative;
}

.datosContainerContainer{
    padding: 5px; 
    padding-right: 0;
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 5%;
}

.datosContainer{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    font-size: 1.3rem;
    padding: 1rem;
    height: 100%;
    background-color:white; 
    border: 1px solid black;
    border-radius: 5px;
}
.form{
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 10px;
}
select{ 
    background-color: transparent;
}

.moveButton{
    width: 80px;
    border: 3px solid black;
    border-radius: 7px;
    cursor: pointer;
}

.moveButton:hover{
    transform: scale(1.1);
    background-color:  rgba(0, 130, 205, 1);
    color: white;
    box-shadow: 7px 14px 17px rgba(0,0,0, 0.8); 

}

select option {
    margin: 40px;
    color: #fff;
    position: absolute;
    background-color: black;
}

.name::first-letter{
    text-transform: uppercase;
}

.abilities{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 250px;
    background-color: white;  
}

.abilities h3{
    grid-column: span 2;
    justify-self: center;
    background-color: white;
    width: 100%;
}

.icosContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    align-items: center;
}

.icoContainer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: start; 
    gap: 3px;  
    align-items: center;
    flex-basis: 40%;
}

.ico{
    justify-self: center;
    width: 40px;   
}

.name::first-letter{
    text-transform: uppercase;   
}
.name{
    font-size: 2.5rem;
    justify-self: center;
    color: rgb(251, 255, 16);
    letter-spacing: 3px;
    font-family: 'Pokemon Solid';
    text-align: center;
    line-height: 30px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    text-shadow: -4px 4px black;
}

.icoName{
    flex-basis: 100%;
    min-width:60px;
}

.icoName::first-letter{
    text-transform: uppercase; 
}