.nav{  
    padding: 0;
    background-color: rgba(216, 24, 24, 0.863);
    border-bottom:10px solid black ;  
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;  
}

.options{
    color: white;
    font-size: 25px;
    text-decoration: none;

    
}

.img{
    width: 100px;
    transition: 0.14s;
}
.img:hover{
    transform: scale(1.1);
}