.container{
    display: grid;
    grid-template-columns: 1fr 90px;
    column-gap: 20px;
    max-width: 400px;
    justify-content: center;
    align-content: center;
}

.position{
    position: relative;
    width: 190px;
    font-size: 1rem;
    height: 36px;
}

.options{
    position: absolute;
    margin-top: 30px;
    box-sizing: border-box;
    color:black;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    background-color:white;
    right: 0px;
    left: 5px;
    border: none;
    padding: 5px 0 0 0;
    width: 95%;
    display: grid;
    z-index: 20;
    border-bottom: 3px solid rgb(45, 106, 219);
}

.optionsOff{
    display: none;
}

.options button{
    border: none;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    height: 20px;
    cursor: pointer;

}

.options button:hover{
    background:rgb(45, 106, 219);
}

.button{
    cursor: pointer;
    font-size: 19px;
    font-family: sans-serif;
    padding: 10px;
    display: grid;
    font-weight: 700;
    grid-template-columns: 1fr;
    align-content: center;
    height: 36px;
    width: 90px;
    border: 5px solid black;
    border-radius: 10px;
    transition: 0.1s;
    box-shadow: 7px 0 7px rgba(0,0,0,.5);
}
.input{
    padding: 5px;
    font-size: 1rem;
    height: 36px;
    border-radius: 10px;
    border: 5px solid black;
    transition: 0.1s;
    position: absolute;
    z-index: 30;

    
}
.input:focus{
    border-color: rgba(0, 140, 255, 1);
    outline: none;
}

.button:hover{
    transform: scale(1.2);
    background-color:  rgba(0, 140, 255, 1);
    color: white;
    box-shadow: 10px 0 10px rgba(0,0,0,.5);
   
}