.cards{
    max-height: 100vh;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.main{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.asidePosition{
    height: 100vh;
    width: 200px;
    position: relative;
    
}

.logic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    
}

.pikachu{
    margin: 100px;
    
}
.notFoundContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-x: hidden;
    
}
.notFound{
    width: 600px;
    height: 150px;
    background-color: rgba(15, 15,15,1);
    display: flex;
    justify-content: space-between;
    border: 3px solid rgba(0, 130, 170, 1);
    border-radius: 5px ;
    overflow: hidden;
    align-items: center;
    position: relative;
    z-index: 60;
}

.notFoundContainer::after{
content: "";
background-color: rgba(15, 15,15,0.8);
top: 0;
height: 100%;
width: 100%;
position:absolute;
overflow-x: hidden;
z-index: 55;
left: 0;
}

.notFoundTextContainer{
  gap: 10px;
  padding: 10px; 
  display: grid; 
  cursor: default;
  position: relative;
  z-index: 60;
}

.notFoundTextContainer button{
    width: 50px;
    height: 30px;
    justify-self: end;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    position: relative;
    z-index: 60;
  }

.pikachuSad{
    width: 200px;
    height: 130px;
    align-self: flex-end;
    position: relative;
    z-index: 60;
}

.notFoundText{
    color: white; 
    flex-basis: 50%;
    position: relative;
    z-index: 40;
}

.menu{
    width: 223px;
    background-color: rgba(15, 15,15,1);
    top: 0px;
    height: 100vh;
    position: fixed;
    z-index:5;
}

.position{
    padding-top: 100px;
    position: relative;
    z-index: 30;
    background: rgb(23, 24, 24);
    height: 100%;
    background-size: 500%;

   
}

.sort{
    background-color: transparent;
    color: white;
    cursor: pointer;
    height: 30px;
    border: none;
}
.sort:hover{
    background-color: rgba(0, 130, 170, 1);
}