.main{
    min-height: calc(100vh - 134.27px);
    max-width: 100vw;
    background-position: static;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.card{
    width: 250px;   
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    box-shadow: 7px 7px 7px black;
    transition: 0.14s;
    height: 400px;   
}