.hover{
    width: 100%;
    gap: 10px;
    position: absolute;
    top: 40px;
    transform: translateX(223px);
    z-index: 0;
    padding: 0px 0px 6px 0px;
    /* border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; */
    animation: moveBackground 1s infinite linear alternate ;
    background-size: 500%;
    transition: .3s;
    padding-top: 16px;
    background-color: rgb(45, 106, 219);
}

.hoverD{
    width: 100%;
        gap: 10px;
        position: absolute;
        top: 60px;
        z-index: 0;
        padding: 0px 0px 6px 0px;
        /* border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; */
    
        animation: moveBackground 1s infinite linear alternate ;
        background-size: 500%;
        transition: .3s;
      
        }
       
.hoverOff{
    width: 100%;
    gap: 10px;
    position: absolute;
    top: 40px;
    z-index: 10;
    padding: 0px 0px 6px 0px;
    animation: moveBackground 1s infinite linear alternate ;
    background-size: 500%;
    box-sizing: border-box;
    transition: 0.3s;
    padding-top: 16px;
    background-color: rgb(45, 106, 219);
}

.option:hover{
    background:rgb(45, 106, 219);
    
}

 @keyframes moveBackground{
0% {background-position-x: left;} 
100%{background-position-x: right;} 
} 

.container{
    
    /* border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; */
    margin: 0;
}

.containerOff{
    display: none;
}

.selectContainer{
    height: 100%;
    align-items:center;
    position: relative;
    width: 100%; 
}

.option{
    box-sizing: border-box;
    color:white;
    background-color: transparent;
    cursor: pointer;
    background-color: rgb(26, 25, 25);
    border: none;
    padding: 3px;
    width: 100%;
    font-size: 1.2rem;
}