.main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.form{
    background-color: rgba(0, 0, 0, 0.678);
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10vh;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 5px;
}

.itemContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    row-gap: 10px;
}
.item label{
    display:block ;
    color: white;
}

.input{
    outline: none;
    border: 3px solid transparent;
    border-radius: 3px;
}

.errorI{
    outline: none;
    border: 3px solid red;
    border-radius: 3px;
}

.input:focus{
    border: 3px solid rgba(13, 155, 221, 0.795);
}

.checksContainer{
    display: flex;
    
    justify-content: start;
    gap: 10px;
    border:1px solid transparent;
}

.itemCheck{
    display: flex;
    width: 120px;
    justify-content: space-between;

}

.error{
    border:1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 10px;
}

.itemCheck input{
    height: 20px;
    width: 20px;
}

@media screen and (max-width: 400px) {
    *{
        grid-column: span 2;
    }
    .inputCheck{
        grid-column: span 1;
        flex-wrap: nowrap;
        
        width: 30px;
    }
    .error{
        flex-wrap: wrap;
        
    }
}

